<app-header></app-header>


<div class="container mt-5">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h3 class="text-center">Profile</h3>
    </div>
    <div class="card-body" *ngIf="user; else loading">
      <div >
        <div class="col text-center">
          <ul class="list-group list-group-flush ">
            <li class="list-group-item">
              <strong>Name:</strong> {{user.firstName}} {{user.lastName}}
            </li>
            <li class="list-group-item">
              <strong>Email:</strong> {{user.email}}
            </li>
            <li *ngIf="user.position.name" class="list-group-item">
              <strong>Position:</strong> {{user.position.name}}
            </li>
            <li *ngIf="user.position.level" class="list-group-item">
              <strong>Level:</strong> {{user.position.level}}
            </li>
            <li *ngIf="user.department.name" class="list-group-item">
              <strong>Department:</strong> {{user.department.name}}
            </li>
          </ul>
        </div>
    </div>
  </div>
</div>
  <div class="text-center">
    <button mat-raised-button class="bg-dark text-white m-3" routerLink="/users/addCertification">Add Certification</button>
    <button mat-raised-button class="bg-dark text-white m-3" routerLink="/users/addPosition">Edit Position</button>
    <button mat-raised-button class="bg-dark text-white m-3" routerLink="/users/addManager">Edit Manager</button>
  </div>
  <div class="text-center">
    <button mat-raised-button class="bg-danger text-white m-3" routerLink="/users/changePassword">Change Password</button>
    <button mat-raised-button class="bg-danger text-white m-3" routerLink="/users/changeEmail">Update Email</button>
  </div>
</div>

<ng-template class="text-center"#loading>
  <div class="justify-content-center mx-auto m-5">
  <mat-spinner ></mat-spinner>
  </div>
</ng-template>
