<app-header></app-header>
<div class="d-flex align-items-center justify-content-center">
  <div class="col-sm-3 text-center">
    <form [formGroup]="updateManagerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Manager's Email:</label>
        <input type="text" formControlName="managerEmail" class="form-control"/>
      </div>
      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">Wrong input. Please try again.</div>
      <div *ngIf="!error && submitted" class="alert alert-info mt-3 mb-0">Manager updated successfully.</div>

      <button  *ngIf="!submitted" class="btn btn-primary">
        Update Manager
      </button>
    </form>
  </div>
</div>
