spring:
    datasource:
        driver-class-name: org.postgresql.Driver
        url: jdbc:postgresql://localhost:5432/postgres
        username: postgres
        password: password
        hikari:
            connection-timeout: 50000
            idle-timeout: 300000
            max-lifetime: 900000
            maximum-pool-size: 10
            minimum-idle: 10
            pool-name: ConnectionPool
            data-source-properties:
                cachePrepStmts: true
                prepStmtCacheSize: 250
                prepStmtCacheSqlLimit: 2048
                useServerPrepStmts: true
                useLocalSessionState: true
                rewriteBatchedStatements: true
                cacheResultSetMetadata: true
                cacheServerConfiguration: true
    jpa:
        hibernate:
            ddl-auto: create-drop
            connection:
                provider_class: com.zaxxer.hikari.hibernate.HikariConnectionProvider
        show-sql: true
        database: postgresql
        database-platform: org.hibernate.dialect.PostgreSQLDialect
        open-in-view: false
        generate-ddl: true
logging:
    pattern:
        console: "%d %-5level %logger : %msg%n"
    level:
        org.springframework: info
        org.hibernate: debug
server:
    port: 8080
