<app-header></app-header>

<div class="container mt-5">
  <div class="card w-50 mx-auto">
    <div class="card-header">
      <h3 class="text-center">Profile</h3>
    </div>
    <div class="card-body" *ngIf="user">
      <div>
        <div class="col text-center">
          <div *ngIf="user">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <strong>Name:</strong> {{user.firstName}} {{user.lastName}}
              </li>
              <li class="list-group-item">
                <strong>Email:</strong> {{user.email}}
              </li>
              <li *ngIf="user.position && user.position.name" class="list-group-item">
                <strong>Position:</strong> {{user.position.name}}
              </li>
              <li *ngIf="user.position && user.position.level" class="list-group-item">
                <strong>Level:</strong> {{user.position.level}}
              </li>
              <li *ngIf="user.department && user.department.name" class="list-group-item">
                <strong>Department:</strong> {{user.department.name}}
              </li>
            </ul>
          </div>
      </div>
    </div>
      <div class="text-center">
        <button mat-raised-button class="bg-dark text-white" routerLink="certifications">Certifications</button>
      </div>
    </div>
</div>

  <app-courses-list [userId]="employeeId"></app-courses-list>

  <div class="text-center mb-3">
    <button mat-raised-button class="bg-dark text-white" (click)="goBack()">Go Back</button>
  </div>
</div>
<!--</div>-->
