<app-header></app-header>
<div class="courseFormContainer">
  <div class="d-flex align-items-center justify-content-center">
    <!--    <div class="col-sm-3 text-center">-->
    <form [formGroup]="addCourseForm" (ngSubmit)="onSubmit()" class="courseForm">
      <div class="row">
        <div class="col form-group">
          <label class="form-label">Course Name</label>
          <input type="text" formControlName="courseName" class="form-control" placeholder="Course Name"/>
        </div>
        <!--Type of course name-->
        <div class="col  mb-3 form-group">
          <label>Type Of Course:</label>
          <input type="text" formControlName="typeOfCourseName" class="form-control"
                 placeholder="Online, Physical etc."/>
        </div>
      </div>
      <!--Type of course description-->
      <div class="form-group">
        <label class="form-label">Type of Course Description:</label>
        <input type="text" formControlName="typeOfCourseDescription" class="form-label  form-control"/>
      </div>

      <div class="row areaOfStudy">
        <div formArrayName="areasOfStudy">
          <div *ngFor="let areaOfStudy of areasOfStudyGet().controls; let i = index" [formGroupName]="i">
            <!--        <div [formGroupName]="i">-->
            <div class="col form-group">
              <label>Area Of Study Name {{i + 1}}:</label>
              <input type="text" formControlName="name" class="form-control"/>
            </div>
            <div class="col form-group" style="padding-bottom: 1rem;">
              <label>Area Of Study Description {{i + 1}}:</label>
              <input type="text" formControlName="description" class="form-control"/>
            </div>
          </div>

        </div>
        <div>
          <button mat-raised-button class="bg-dark text-white  mt-1 mb-1 me-1" type="button" (click)="addAreaOfStudy()">
            Add Area of Study
          </button>
          <button mat-raised-button class="bg-dark text-white mt-1 mb-1 ms-1" *ngIf="counter > 1"
                  (click)="removeAreaOfStudy()">Remove Area of Study
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col form-group">
          <label>Certification Name:</label>
          <input type="text" formControlName="certificationName" class="form-control"/>
        </div>
        <div class="col form-group">
          <label>Certification Authority Name:</label>
          <input type="text" formControlName="certificationAuthorityName" class="form-control"
                 placeholder="Name of the authority that issued the certification."/>
        </div>
      </div>
      <div class="form-group" style="padding-bottom: 0.4rem;">
        <label>Type of Institution:</label>
        <input type="text" formControlName="awardingBodyDescription" class="form-control"
               placeholder="University, College etc."/>
      </div>

      <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}} </div>
      <div *ngIf="!error && submitted" class="alert alert-info mt-3 mb-0">Certification added.</div>
      <button mat-raised-button class="bg-dark text-white" *ngIf="!submitted">Add Course</button>
    </form>
  </div>
</div>
<app-footer></app-footer>
