<app-header></app-header>
<div class="container">
    <div class="row m-4">
      <div class="col-sm-4 mb-3" *ngFor="let user of users;" >
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center pb-2 text-decoration-none"><a class="text-decoration-none">{{user.firstName}} {{user.lastName}}</a></h5>
    <!--        <p class="user-department-name"><b>Department:</b> {{user.department.name}}</p>-->
            <p><b>Email:</b> {{user.email}}</p>
            <p *ngIf="user.position?.name"><b>Position:</b> {{user.position?.name}}</p>
            <p *ngIf="user.position?.level"><b>Level:</b> {{user.position?.level}}</p>
            <p *ngIf="user.department?.name"><b>Department:</b> {{user.department?.name}}</p>
          </div>
          <div class="text-center mb-4">
            <button class="btn btn-primary" [routerLink]="['viewEmployee',user.id]">View Employee</button>
          </div>
        </div>
      </div>
    </div>

</div>
