
<div class="m-4">
  <div class="col-sm-4 mb-3" *ngFor="let course of coursesList; let i = index"
       [ngClass]="{ 'ml-auto': (i + 1) % 3 === 0 }">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title text-center pb-2"><a class="text-decoration-none" href="">{{ course.name }}</a></h5>
        <p class="course-type"><b>Course Type:</b> {{course.type.name}}</p>
        <p class="course-type"><b>Certified By:</b> {{course.certification.certificationAuthority.name}}</p>
      </div>
    </div>
  </div>
</div>
<div class="buttons d-flex justify-content-center">
    <button type="button" class="btn btn-primary m-1" routerLink="/home/addCourse" >Add Course</button>
    <button type="button" class="btn btn-primary m-1" routerLink="/addCertifications">Add Certifications</button>
</div>
